# Virtual environment
env/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# sphinx documentation
docs/_build/

# MacOS stuff
.DS_STORE

# Python
*.pyc
